[ :test |

    | msg msg2 msg3 |;

    msg = [:getMeHello | "Hello World" ];
    msg2 = [:getMeMsg | msg ];
    msg3 = [:getMeHelloFromMsg: | getMeHelloFromMsg getMeMsg getMeHello];
    msg3 getMeHelloFromMsg: msg2
] test;


[ :test |

    | msg msg2 msg3 |;

    msg = [:getMeHello | "Hello World" ];
    msg2 = [:getMeMsg | msg ];
    msg2 getMeMsg getMeHello
] test;


[:test: |
    test
] test: "hello";


| msg |;
msg = [:callme | "hullo" ];

[:test |
    msg callme
] test
