| http HttpServer Sat |;

HttpServer = Exec execFileName: "ttsrc/http.tt";
Sat = Exec execFileName: "ttsrc/sat.tt";

http = HttpServer address: "0.0.0.0" port: 8080;

Sat createForServer: http;

System startThread: [ http start ];
Out writeLine: "done loading http server";

nil

